services:
  web:
    build: .
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8000:8000
    depends_on:
      - db 
      - redis
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
  
  celery_beat:
    build: .
    command: celery -A src.post.infrastructure.tasks beat --loglevel=INFO
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db 
      - redis 
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis

  celery_worker:
    build: .
    command: celery -A src.post.infrastructure.tasks worker --loglevel=INFO
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
    depends_on:
      - db 
      - redis
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
    command: redis-server --appendonly yes

  db:
    image: postgres:18
    restart: always
    shm_size: 128mb # set shared memory limit
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata: