* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(10, 10, 10);
    
}

header {
    display: flex;
    height: 100px;
    background-color: rgb(26, 25, 25);
    justify-content: flex-start;
    align-items: center;
    border-bottom: 5px rgb(62, 59, 59) solid;
}

.logo {
    margin-left: 40px;
    font-size: 34pt;
}

.logo a {
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.message-box {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #fff; 
    background-color: rgb(41, 40, 40);
    border: 3px solid rgb(72, 72, 72);
    border-radius: 20px;
    padding: 7px;
    margin-top: 4vh;
}


.close-button-container {
    text-align: right;
}

.close-button {
    background-color: rgb(41, 40, 40);
    border: none;
    color: #fff;
    padding-bottom: 10px;
}

.close-button i {
    font-size: 16pt;
}

.date-input-container {
    display: flex;
    justify-content: right;
}

.date-input-container p {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal; 
    margin-right: 10px;
    margin-top: 1vh;
    font-size: 12pt;
}

#datePicker {
    background-color: rgb(26, 25, 25);
    margin-top: 1vh;
    height: 25px;
    border-radius: 7px;
    padding: 3px;
    color: white;

}


#datePicker:focus {
    outline: none;
    box-shadow: 0 0 7px rgba(83, 22, 236, 0.6);
}

#text-input {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    width: 95%;
    height: 59vh;
    background-color: rgb(26, 25, 25);
    border: 4px solid rgb(72, 72, 72);
    padding: 14px;
    resize: vertical;
    border-radius: 20px;
    color: rgb(213, 213, 213);
    margin-top: 1vh;
}

#text-input:focus {
    outline: none;
    box-shadow: 0 0 7px rgba(83, 22, 236, 0.6);
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.submit-button {
    width: 110px;
    height: 40px;
    background-color: rgb(206, 119, 33);
    color: white;
    border: none;
    border-radius: 25px;
    margin-bottom: 2vh;
}

.submit-button:hover {
    background-color: rgb(153, 89, 25);
}

.submit-button:focus {
    box-shadow: 0 0 5px rgba(135, 135, 135, 0.5);
    background-color: rgb(112, 67, 23);
}

.loading-container {
    width: 400px;
    margin-left: 29vw;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
}

#loadingBar {
    width: 100%;
    height: 7px;
    border-radius: 3px;
    background-color: rgb(10, 10, 10);
}

#progress {
    margin-top: 5px;
    height: 7px;
    border-radius: 3px; 
}

#loadingText {
    margin-top: 6px;
}

#resultText {
    margin-top: 12px;
    color: #fff;
    font-size: 10pt;
    text-align: center;
}

#resultLink {
    color: #fff;
}

.code-button-container {
    display: flex;
    justify-content: right;
}

.code-button {
    background-color: rgb(206, 119, 33);
    font-size: 16pt;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-top: 3vh;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.code-button:hover {
    background-color: rgb(153, 89, 25);

}

.code-button:focus {
    box-shadow: 0 0 5px rgba(135, 135, 135, 0.5);
    background-color: rgb(112, 67, 23);
}

.code-run-button {
    background-color: rgb(206, 119, 33);
    font-size: 16pt;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-top: 3vh;
    margin-left: 0.5vw;
    display: none;
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    
}

.code-run-button:hover {
    background-color: rgb(153, 89, 25);
}

.code-run-button:focus {
    box-shadow: 0 0 5px rgba(135, 135, 135, 0.5);
    background-color: rgb(112, 67, 23);
}

.terminal-container {
    margin-top: 2vh;
}

.terminal-icon {
    color: #fff;
    background-color: rgb(32, 32, 32);
    border-radius: 7px 7px 0px 0px;
    font-size: 16pt;
    margin-left: 25px;
    padding: 4px;
    display: none;
    width: 120px;
}

.terminal {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    border : 3px solid rgb(32, 32, 32);
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    width: 96%;
    text-align: left;
    padding: 10px;
    white-space: pre-line;
    display: none;

}

@media screen and (max-width: 450px) {
    #text-input {
        width: 95%;
        font-size: 12pt;

    }

    .loading-container {
        width: 200px;
    }
    
    #container {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .message-box {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10pt;
    }
    .terminal-container {
        width: 95%;

    }
    .terminal {
        width: 95%;
        margin: auto;
    }
    .terminal-icon-container {
        width: 95%;
        margin: auto;
    }

    .terminal-icon {
        font-size: 10pt;
        width: 105px;
    }
    .date-input-container {
        width: 95%;
        margin: auto;
    }

    .date-input-container p {
        font-size: 9pt;
    }
    
    .btn-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .code-button-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .code-button {
        font-size: 12pt;
    }

    .code-run-button {
        font-size: 12pt;
    }
}

